<footer>
    <div class="main container">
        <div class="box" style="width: 30%; height: 100%;">
            <div class="footer-logo"></div>
            <div class="footer-description">
                <p>Maecenas mi justo, interdum at consectetur vel, tristique et arcu. Ut quis eros blandit, ultrices
                    diam in, elementum ex. Suspendisse quis faucibus urna. Suspendisse pellentesque.</p>
            </div>
        </div>
        <div class="box box2" style="width: 32%; height: 100%; ">
            <h3>Quick Links</h3>
            <div class=" box2">
                <a href="">About</a>
                <a href="">Cart</a>
                <a href="">Checkout</a>
                <a href="">Contact</a>
                <a href=""> Home</a>
                <a href="">My acount</a>
                <a href="">Shop</a>
            </div>
            <h3>Site Links</h3>
            <div class=" box2">
                <a href="">Privicy policy</a>
                <a href="">Shiping Details</a>
                <a href="">Offers Coupons</a>
                <a href="">Terms & Condition</a>
            </div>
        </div>
        <div class="box box2" style="width: 38%; height: 100%;">
            <h3>Download Our Mobile App</h3>
            <div style="color: greenyellow;">
                <p class="app-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam gravida sollicitudin. Praesent porta enim mi, non tincidunt libero interdum sit amet.</p>
            </div>
            <h3>Quick Links</h3>
            <div class="box2" >
                <a href="" style="color: greenyellow;">Know More About Us</a>
                <a href="" style="color: greenyellow;">Visit Store</a>
                <a href="" style="color: greenyellow;">Let's Connect</a>
                <a href="" style="color: greenyellow;">Locate Store</a>
            </div>
            <div style="display: flex;">
                <img src="../../../assets/images/app-store.png" alt="" style="width: 45%; padding-top: 10px;"> &nbsp; &nbsp;
                <img src="../../../assets/images/play-store.png" alt="" style="width: 45%;  padding-top: 10px">
            </div>
           
        </div>


    </div>
    <div class="copyright">
        <p>copyright &nbsp;<i class="fa-solid fa-copyright"></i> | Organic Store</p>
        <div class="icon">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>

    </div>
</footer>