<div id="main"[ngClass]="{'filter-open':filtertooglebarstatus}">
    <div class="filter-search">
        <input type="search" placeholder="Search holders...">
        <button class="filter-search-btn">
            <i class="fa-solid fa-play" style="color: #ffffff;"></i>
        </button>
    </div>
    <div class="filter-by-price">
        <h2>Filter by price
        </h2>
        <input type="range">
    </div>
    <div class="other-link">
        <a href="" routerLink="/grossery">Grossery</a>
        <a href="" routerLink="/juice">Juice</a>
    </div>
    
</div>
